.forgot-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 80%;
    padding: 30px 25px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
}

.forgot-form {
    display: flex;
    flex-direction: column;

}
.forgot-form p{
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 4px;
}
.forgot-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.forgot-input {
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
}

.forgot-input:focus {
    border-color: #4CAF50;
    outline: none;
}

.forgot-submit-btn {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.forgot-submit-btn:hover {
    background-color: #45a049;
}

.forgot-message {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.forgot-message.success {
    color: #28a745;
}

.forgot-message.error {
    color: #dc3545;
}
