
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-header {
  display: flex;
  justify-content: space-between;
  background-color: #0B0C10;
  padding: 30px 50px;
  font-family: "Roboto", sans-serif;
}

.home-header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 40px;
}

.home-header a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.home-nav {
  display: flex;
  align-items: center;
}

.home-wishlist {
  display: flex;
  align-items: center;
  gap: 40px;
}

.home-wishlist p {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.home-nav p {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.home-header a:hover,
.home-wishlist p:hover,
.home-nav p:hover {
  text-decoration: underline;
  transform: scale(1.05);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

.home-header svg,
.home-wishlist svg {
  transition: transform 0.3s ease;
}

.home-header .logout-btn {
  padding: 10px 20px;
  font-size: 17px;
  border: none;
  border-radius: 6px;
  background-color: rgb(218, 0, 0);
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.home-header .logout-btn:hover {
  background-color: rgb(255, 74, 74);
  cursor: pointer;
}
